

<nav class="navbar navbar-default">
  <div class="row">
  
    <div style="margin: 0 auto; float: left">
      <h1 id="title">Mint App</h1>
    </div>
    <div style = "text-align:center;">
      <button class="pure-button logout" style="float:right;margin-right:20px" ng-click = "logout()"><h5>Logout {{nickname}}</h5></button>
    </div>
  </div>
</nav>

<div class = "row">
  <div class="content">
    <div class = "row">
      <h4 style="float:left">Enter Essay Content:</h4>
    </div>  
    
    <div class = "row">
      <textarea id="typearea" placeholder="Type text here" cols="32" rows="55"></textarea>
    </div>

    <div class = "row">
      <button class="pure-button mint-button" id="copyButton"><h4>Copy Text to Clipboard</h4></button>
      <button class="pure-button mint-button" ng-click="saveEssay()"><h4>Save Work</h4></button>
      <button class="pure-button mint-button" onclick="showResults()"><h4>Analyze</h4></button>
      <button class="pure-button mint-button" ng-click="scrollDown()"><h4>Works Cited</h4></button>
      <button class="mint-button" onclick="toggleStatus()" id="toggleButton" style="visibility:hidden;float:right;margin-left:5px"><h4>Scroll through Definition</h4></button>
      <div>
        
        <label style="float:left" id="statusbar">Definition</label>
      </div>
    </div>
  </div>



  <div class="results">

	 
    <div class = "row">
	<div>
	 <div class="search" method="post" action="index.html" style="width:100%">
		 <input  id="search" autocomplete="off" style="padding-left:55px;margin-top:-10px;width:96%;border-radius:20px"  type="text" name="q" placeholder="Search..."  ng-model="search" ng-change="searchInfo()"/>
		 <ul class="results" style="width:100%" id="results">
		 </ul>
	 </div>
	</div>
	
	<div id="searchTitleInfo" style="font-size:15px;width:100%;text-align:center;font-weight:bold"></div>
	<div class="wiki-result">
	  <div id="infoarea" style="width:100%;"></div>
	</div>
	<input id="summarizeObj" type="checkbox" name="summarize" value="yes" style="font-size:20px" checked> Summarize Articles
    </div>  
  </div>




</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">MINT Results</h4>
      </div>
      <div class="modal-body">
	  <div class="progress">
  <div class="progress-bar progress-bar-striped active" id="pbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">Loading Essay Statistics</div></div>
        <p id="resultsParagraph" style="font-size:16px"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Works Cited</h4>
      </div>
      <div class="modal-body" style="background-color:blue;color:white">
		<div id = "bib"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

