/* Custom CSS */
body {
	background-color: #0076C0;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #ffdd00
    -moz-box-shadow: 0 8px 6px -6px #ffdd00;
    box-shadow: 0 8px 6px -6px #ffdd00;
    background-color: #21358b;
    border: none;
}

.navbar h1 {
	color: #ffdd00;
}

.navbar-container {
	text-align: center;
	height: 50px;
}

.content {
	position: absolute;
	background-color: white;
	margin: 100px 25px;
	float: left;
	width: 70%;
	height: 625px;
	padding: 2% 50px;
	font-size: 20px;
}

#typearea {
	width: 65%;
	height: 450px;
	resize: none;
	margin-bottom: 20px;
	overflow-y: scroll;
}

#infoarea {
	width: 34%;
	height: 450px;
	resize: none;
	margin-left: 50px
	background-color: red;
	margin-bottom: 20px;
	overflow-y: scroll;
}

.results {
	float: right;
	background-color: lightgray;
	margin-top: 70px;
	width: 25%;
	height: 1000px;
	padding: 25px 20px;
	overflow-y: scroll;
}

.wiki-result {
	margin-top: 20px;
}

#search {
	float: left;
    margin: 20px 10px;
    height: 42px;
    width: 175px;
}

.logout {
	float: right;
	margin: 20px 10px;
	background-color: #0076C0;
	color: #ffdd00;
	width: 150px;
	transition: all 0.2s;
}

.logout:hover {
	background-color: #ffdd00;
	color: #0076C0;
}

#title {
	margin: 20px 0;
}

.mint-button {
	background-color: #0076C0;
	color: #ffdd00;
	transition: all 0.2s;
}

.mint-button:hover {
	background-color: #ffdd00;
	color: #0076C0;
}