/* Custom CSS */
body {
	background-color: #0076C0;
	overflow: hidden;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #ffdd00
    -moz-box-shadow: 0 8px 6px -6px #ffdd00;
    box-shadow: 0 8px 6px -6px #ffdd00;
    background-color: #21358b;
    color: #ffdd00;
    border: none;
}

.navbar-container {
	text-align: center;
	height: 50px;
}

.content {
	background-color: white;
	margin: 100px 25px;
	float: left;
	width: 70%;
	height: 600px;
	padding: 2% 50px;
	font-size: 20px;
}

#typearea {
	width: 65%;
	height: 450px;
	resize: none;
	margin-bottom: 20px;
}

#infoarea {
	width: 30%;
	height: 450px;
	resize: none;
	margin-left: 50px
	background-color: red;
	margin-bottom: 20px;
}

.results {
	float: right;
	background-color: lightgray;
	margin-top: 100px;
	width: 25%;
	height: 1000px;
	padding: 25px 20px;
	overflow-y: scroll;
}

.wiki-result {
	margin-top: 20px;
}